# Исключаем виртуальное окружение
venv/
env/
images/

# Файлы конфигурации
.env
config.json
settings.py
config.yml
bot.session
sophie.db

# Кеши Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Логи и временные файлы
logs/
*.log
*.sqlite3
